<script>
  import Nav from "../components/Nav.svelte";

  export let segment;
</script>

<svelte:head>
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.13/css/brands.css"
    integrity="sha384-VGCZwiSnlHXYDojsRqeMn3IVvdzTx5JEuHgqZ3bYLCLUBV8rvihHApoA1Aso2TZA"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css"
    integrity="sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV"
    crossorigin="anonymous"
  />
</svelte:head>
<Nav {segment} />

<main>
  <slot />
</main>

<footer>
  <a
    href="https://www.facebook.com/MaryJaneBegin.Art"
    aria-label="Mary Jane Begin's Facebook"
    target="_blank"
    class="footer__social-media"
  >
    <i class="fab fa-facebook" />
  </a>
  <a
    href="https://twitter.com/mjbegin1"
    target="_blank"
    aria-label="Mary Jane Begin's Twitter"
    class="footer__social-media"
  >
    <i class="fab fa-twitter" />
  </a>
  <a
    href="https://www.linkedin.com/in/maryjanebegin"
    target="_blank"
    aria-label="Mary Jane Begin's LinkedIn"
    class="footer__social-media"
  >
    <i class="fab fa-linkedin" />
  </a>
  <a
    href="https://www.pinterest.com/mjbegin/"
    target="_blank"
    aria-label="Mary Jane Begin's Pinterest"
    class="footer__social-media"
  >
    <i class="fab fa-pinterest" />
  </a>
  <a
    href="http://maryjanebegin.tumblr.com"
    target="_blank"
    aria-label="Mary Jane Begin's Tumblr"
    class="footer__social-media"
  >
    <i class="fab fa-tumblr" />
  </a>
</footer>

<style>
  main,
  footer {
    max-width: calc(1200px + 3rem);
    margin: 0 auto;
  }

  main {
    padding: 2vw 1.5rem;
  }

  footer {
    /* border-top: 1px solid #ddd; */
    text-align: center;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: calc(1rem + 1vw) 0 calc(1rem + 2vw) 0;
  }

  .footer__social-media {
    font-size: calc(1.4rem + min(0.5rem, 0.5vw));
    margin: 0 clamp(0.5rem, 0.5vw, 1rem);
  }

  .fa-facebook {
    color: #3b5998;
  }
  .fa-twitter {
    color: #1da1f2;
  }
  .fa-linkedin {
    color: #0077b5;
  }
  .fa-pinterest {
    color: #bd081c;
  }
  .fa-tumblr {
    color: #36465d;
  }
</style>
