<svelte:head>
  <title>About</title>
</svelte:head>
<div>
  <img src="/img/large/about/about.jpg" alt="portrait" />

  <section>
    <h1>About Me</h1>

    <p>
      As an award-winning illustrator and author of children’s picture books, a
      Rhode Island School of Design graduate and professor in the Illustration
      Department at RISD for nearly three decades… I feel INCREDIBLY lucky; I
      get to do all the things that I love to do. But in truth, luck + hard work
      + passion were and are the main ingredients for where I’m at now.
    </p>

    <p>
      One of my latest ventures has been teaching online, demonstrating painting
      and drawing with virtual students. The process of developing a course,
      teaching in front of and talking to a camera, and not knowing how the
      content would be received and understood, has been a creative challenge to
      say the least! I’ve also been teaching at Hollins University, as both
      Chair of Illustration for the MFA in Children’s Literature and Associate
      Visiting Professor. In lecturing and teaching in places like China and
      India, I find myself further enlightening my perceptions of culture and
      creative making both as educator and artist.
    </p>

    <p>
      As an illustrator, and book maker, I’ve been able to explore painting and
      color with clients like Little Brown, Hasbro, Celestial Seasonings, Mead
      Johnson and Disney, and have received awards from the Society of
      Illustrators, multiple Awards of Excellence from Communications Arts, the
      Irma Simonton Black Award, and the Critici Erba Prize at the Bologna Book
      Fair. My artwork has been exhibited throughout the country with one-woman
      shows at Books of Wonder Gallery in New York and Beverly Hills, at the
      National Museum of American Illustration in Newport, the RISD Museum,
      Society of Illustrators (NY), The DeCordova Museum, and abroad at the
      Design Society in Shenzhen, China. But one’s art isn’t really alive unless
      you take risks, and step into the creative space, ready for surprises.
    </p>

    <figure>
      <blockquote>
        Creativity comes from the spiritual realm, the collective consciousness.
        And the mind is in a different realm than the molecules of the brain.
        The brain is a receiver, not a source.
      </blockquote>
      <figcaption>~ Candace Pert</figcaption>
    </figure>

    <a href="/pdf/MJB-RESUME.pdf">Resume</a>
  </section>
</div>

<style>
  h1 {
    margin: 0 0 1rem 0;
    line-height: 1;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    margin-left: -4rem;
  }

  a {
    font-weight: bold;
    margin-top: 2rem;
  }

  blockquote {
    margin: 0;
    padding: 0 0 0 1rem;
    border-left: 2px solid #0005;
    font-style: italic;
    line-height: 1.5rem;
  }

  figure {
    color: #000a;
    margin: 0;
  }

  figcaption {
    font-style: italic;
    margin: 0 1rem 1rem 0;
    font-size: 0.875rem;
    text-align: right;
  }

  img,
  section {
    margin-left: 4rem;
  }

  img {
    flex: 0 1 400px;
    height: auto;
    width: 0;
    margin-bottom: 2rem;
  }

  section {
    flex: 1 1 300px;
  }
</style>
