<svelte:head>
  <title>Contact</title>
</svelte:head>

<div>
  <img src="/img/large/contact/profile.jpg" alt="contact" />
  <section>
    <h1>Contact Me</h1>

    <p>
      Thank you so much for visiting my site! I hope you’ll return (with friends
      🙂) and contact me if you’re interested in talking about a freelance
      opportunity, book project, want a school visit, a lecture, or would like
      me to run a workshop.
    </p>

    <p>
      You can also touch base if you have a question or just want to say hi. If
      you have a chance to give me feedback on the site…that would be fabulous!
    </p>

    <p>
      For the latest on news, signings, exhibitions and events, please visit my
      Facebook page:
      <a
        href="https://www.facebook.com/MaryJaneBegin.Art"
        rel="external"
        target="_blank"
      >
        @MaryJaneBegin.Art
      </a>
    </p>

    <p>
      Email: <a href="mailto:mjbegin@cox.net">mjbegin@cox.net</a>
      <br />
      Phone: <a href="tel:+01-401-247-7978">(401) 247-7978</a>
    </p>

    <a href="/pdf/MJB-RESUME.pdf"><strong>Resume</strong></a>
  </section>
</div>

<style>
  h1 {
    margin: 0;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin-left: -3rem;
  }

  img,
  section {
    margin-left: 3rem;
  }

  img {
    flex: 1 1 350px;
    height: auto;
    max-width: 250px;
    border-radius: 500px;
    width: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  section {
    flex: 2 1 350px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
</style>
