<script>
  import Thumbnails from "../components/Thumbnails.svelte";

  let portfolio = [
    {
      title: "Ping Meets Pang",
      img: "/img/thumbnail/portfolio/ping_meets_pang.jpg",
      link: "project/ping_meets_pang",
    },
    {
      title: "My Little Pony, The Dragons on Dazzle Island",
      img: "/img/thumbnail/portfolio/mlp_dragons.jpg",
      link: "project/mlp_dragons",
    },
    {
      title: "My Little Pony, Under the Sparkling Sea",
      img: "/img/thumbnail/portfolio/mlp_sparkling_sea.jpg",
      link: "project/mlp_sparkling_sea",
    },
    {
      title: "Willow Buds, The Tale of Toad and Badger",
      img: "/img/thumbnail/portfolio/wb_toad_and_badger.jpg",
      link: "project/wb_toad_and_badger",
    },
    {
      title: "Willow Buds, When Toady Met Ratty",
      img: "/img/thumbnail/portfolio/wb_toady_met_ratty.jpg",
      link: "project/wb_toady_met_ratty",
    },
    {
      title: "R is for Rhode Island Red",
      img: "/img/thumbnail/portfolio/r_ri_red.jpg",
      link: "project/r_ri_red",
    },
    {
      title: "The Sorcerer’s Apprentice",
      img: "/img/thumbnail/portfolio/sorcerers_apprentice.jpg",
      link: "project/sorcerers_apprentice",
    },
    {
      title: "A Mouse Told His Mother",
      img: "/img/thumbnail/portfolio/mouse_told_his_mother.jpg",
      link: "project/mouse_told_his_mother",
    },
    {
      title: "Little Mouse’s Painting",
      img: "/img/thumbnail/portfolio/little_mouses_painting.jpg",
      link: "project/little_mouses_painting",
    },
    {
      title: "The Wind In the Willows",
      img: "/img/thumbnail/portfolio/wind_in_the_willows.jpg",
      link: "project/wind_in_the_willows",
    },
    {
      title: "Before I Go to Sleep",
      img: "/img/thumbnail/portfolio/before_i_go_to_sleep.jpg",
      link: "project/before_i_go_to_sleep",
    },
    {
      title: "Freelance and Advertising",
      img: "/img/thumbnail/portfolio/freelance_illustration.jpg",
      link: "project/freelance_illustration",
    },
    {
      title: "Land + Seascapes",
      img: "/img/thumbnail/portfolio/pac.jpg",
      link: "project/landscapes",
    },
    {
      title: "Sketchbook",
      img: "/img/thumbnail/portfolio/sketchbook.jpg",
      link: "project/sketchbook",
    },
    {
      title: "Fight and Flight",
      img: "/img/thumbnail/portfolio/fight_and_flight.jpg",
      link: "project/fight_and_flight",
    },
  ];
</script>

<svelte:head>
  <title>Mary Jane Begin</title>
</svelte:head>
<Thumbnails thumbnails={portfolio} />
