<script>
  import Thumbnails from "../components/Thumbnails.svelte";

  let teaching = [
    {
      title: "Rhode Island School of Design",
      img: "/img/thumbnail/teaching/risd.jpg",
      link: "teaching/risd",
    },
    {
      title: "Creative Live",
      img: "/img/thumbnail/teaching/creative_live.png",
      link: "teaching/creative_live",
    },
    {
      title: "LinkedIn Learning",
      img: "/img/thumbnail/teaching/linkedin_learning.png",
      link: "teaching/linkedin_learning",
    },
    {
      title: "Hollins",
      img: "/img/thumbnail/teaching/hollins.jpg",
      link: "teaching/hollins",
    },
    {
      title: "Workshops for Kids",
      img: "/img/thumbnail/teaching/workshops_kids.jpg",
      link: "teaching/workshops_kids",
    },
    {
      title: "Workshops + Presentations",
      img: "/img/thumbnail/teaching/workshops_adults.jpg",
      link: "teaching/workshops_adults",
    },
    {
      title: "Teaching Abroad",
      img: "/img/thumbnail/teaching/abroad.jpg",
      link: "teaching/teaching_abroad",
    },
  ];
</script>

<svelte:head>
  <title>Teaching</title>
</svelte:head>
<Thumbnails thumbnails={teaching} />
