<script context="module">
  export async function preload({ params }) {
    const { projectName } = params;

    const project = await this.fetch(
      `/json/project/${projectName}.json`
    ).then((r) => r.json());

    return { project, projectName };
  }
</script>

<script>
  import Gallery from "../../components/Gallery.svelte";

  export let project;
  export let projectName;
</script>

<svelte:head>
  <title>{project.title}</title>
</svelte:head>

<section>
  <h1>{project.title}</h1>

  {#if project.desc}
    <p>{@html project.desc}</p>
  {/if}

  {#if project.hasBook}
    <a href={`/book/${projectName}`}>View the book</a>
  {/if}
</section>

<Gallery
  imageSrc={`/img/large/project/${projectName}`}
  thumbnailSrc={`/img/thumbnail/project/${projectName}`}
  images={project.images}
/>

<style>
  section {
    margin-bottom: calc(2rem + 2vw);
  }

  p {
    white-space: pre-wrap;
  }

  a {
    transition: background-color 300ms ease, color 300ms ease;
    display: inline-flex;
    padding: 0.5rem 1rem;
    border: 1px solid #2a49f1;
    border-radius: 4px;
  }

  a:hover,
  a:focus {
    background: #2a49f1;
    color: #fff;
  }
</style>
