<script>
	export let book;
</script>

<dl>
	{#if book.author === book.illustrator}
		<div>
			<dt>Author and Illustrator:</dt>
			<dd>{book.author}</dd>
		</div>
	{:else}
		<div>
			<dt>Author:</dt>
			<dd>{book.author}</dd>
		</div>

		<div>
			<dt>Illustrator:</dt>
			<dd>{book.illustrator}</dd>
		</div>
	{/if}

	<div>
		<dt>Publisher:</dt>
		<dd>{book.publisher}</dd>
	</div>

	<div>
		<dt>
			{book.ageRange.length
				? `Ages ${book.ageRange[0]}\u2013${book.ageRange[1]}`
				: "All ages"}
		</dt>
	</div>
</dl>

<style>
	dl {
		margin: 1rem 0;
	}

	dt {
		margin: 0;
		font-weight: bold;
		display: inline;
	}

	dd {
		display: inline-block;
		margin-left: 0.25rem;
	}

	@media only screen and (min-width: 900px) {
		div {
			display: inline-block;
		}

		div:not(:last-child)::after {
			content: "|";
			margin: 0 0.5rem 0 0.5rem;
		}
	}
</style>
