<script>
  import { onMount } from "svelte";
  import LazyImage from "./LazyImage.svelte";
  import LoadingSpinner from "./LoadingSpinner.svelte";

  export let onCloseModal;
  export let onNextImage;
  export let onPreviousImage;
  export let showNextButton;
  export let showPreviousButton;
  export let src;

  let background;
  let close;

  onMount(() => {
    close.focus();
  });
</script>

<svelte:window on:click={(e) => e.target === background && onCloseModal()} />

<div bind:this={background}>
  <button
    bind:this={close}
    class="close"
    aria-label="Close"
    on:click={onCloseModal}
  />

  {#if showPreviousButton}
    <button
      class="previous"
      aria-label="Previous Image"
      on:click={onPreviousImage}
    />
  {/if}

  <LazyImage {src}>
    <LoadingSpinner />
  </LazyImage>

  {#if showNextButton}
    <button class="next" aria-label="Next Image" on:click={onNextImage} />
  {/if}
</div>

<style>
  div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000d;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 500ms;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 5vw;
    max-width: 5vh;
    height: 5vw;
    max-height: 5vh;
    border-radius: 100%;
    padding: 0;
    transform: translate(-20%, 20%);
  }

  .close::before,
  .close::after {
    position: absolute;
    content: "";
    display: block;
    border-bottom: 2px solid #fff;
    width: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
    left: 50%;
  }

  .close::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .previous {
    position: absolute;
    left: 0;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;

    transform: translateX(-50%);
    width: 8vw;
    max-width: 8vh;
    height: 8vh;
    max-height: 8vw;
  }

  .previous::before,
  .previous::after {
    position: absolute;
    content: "";
    display: block;
    border-left: 2px solid #fff;
    height: 20%;
    transform-origin: top left;
    transform: rotate(-45deg) translate(-1px, -1px);
    top: 50%;
    left: 65%;
  }

  .previous::after {
    transform: rotate(225deg) translate(-1px, -1px);
  }

  .next {
    position: absolute;
    right: 0;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;

    transform: translateX(50%);
    width: 8vw;
    max-width: 8vh;
    height: 8vh;
    max-height: 8vw;
  }

  .next::before,
  .next::after {
    position: absolute;
    content: "";
    display: block;
    border-left: 2px solid #fff;
    height: 20%;
    transform-origin: top left;
    transform: rotate(45deg) translate(-1px, -1px);
    top: 50%;
    left: 35%;
  }

  .next::after {
    transform: rotate(-225deg) translate(-1px, -1px);
  }

  button {
    background-color: #fff0;
    transition: background-color 300ms ease;
  }

  button:hover {
    background-color: #fff2;
  }

  div :global(img) {
    max-height: 90vh;
    max-width: 90vw;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
