<script>
  import LazyImage from "./LazyImage.svelte";
  import LoadingSpinner from "./LoadingSpinner.svelte";
  import GalleryModal from "./GalleryModal.svelte";

  export let images;
  export let imageSrc;
  export let thumbnailSrc;

  let currentImageIndex = null;

  $: currentImage = images[currentImageIndex];
  $: thumbnails = images.map((image) => `${thumbnailSrc}/${image}`);

  const setCurrentImage = (index) => {
    currentImageIndex = index;
  };

  const onPreviousImage = () => {
    setCurrentImage(Math.max(currentImageIndex - 1, 0));
  };

  const onNextImage = () => {
    setCurrentImage(Math.min(currentImageIndex + 1, images.length - 1));
  };
</script>

<svelte:window
  on:keydown={(e) => {
    if (currentImage) {
      const { key } = e;
      switch (key) {
        case "ArrowDown":
          e.preventDefault();
        case "ArrowRight":
          onNextImage();
          return;
        case "ArrowUp":
          e.preventDefault();
        case "ArrowLeft":
          onPreviousImage();
          return;
        case "Escape":
          setCurrentImage(null);
          return;
        default:
          return;
      }
    }
  }}
/>

<ul class="thumb">
  {#each thumbnails as thumbnail, i}
    <li>
      <button
        type="button"
        aria-label="view this image"
        on:click={() => setCurrentImage(i)}
      >
        <LazyImage src={thumbnail} />
      </button>
    </li>
  {/each}
</ul>

<ul class="scroll">
  {#each images as image}
    <li class="scroll-li">
      <LazyImage src={`${imageSrc}/${image}`}>
        <LoadingSpinner />
      </LazyImage>
    </li>
  {/each}
</ul>

{#if currentImage}
  <GalleryModal
    src={`${imageSrc}/${currentImage}`}
    onCloseModal={() => setCurrentImage(null)}
    showNextButton={currentImageIndex < images.length - 1}
    showPreviousButton={currentImageIndex > 0}
    {onPreviousImage}
    {onNextImage}
  />
{/if}

<style>
  .thumb {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(6rem + 4vw), 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  button {
    width: 100%;
    padding-top: 100%;
    background-color: #ddd;
    position: relative;
    cursor: pointer;
  }

  button > :global(img) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .scroll {
    display: none;
    grid-row-gap: 1rem;
  }

  .scroll-li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .scroll-li > :global(img) {
    height: 50vh;
    width: auto;
    max-width: 100%;
    max-height: calc(90vh);
    background-color: #ddd;
  }

  .scroll-li > :global(.loaded) {
    height: auto;
  }

  @media screen and (max-width: 800px), screen and (max-height: 768px) {
    .thumb {
      display: none;
    }
    .scroll {
      display: grid;
    }
  }
</style>
