<script>
  import { onMount, onDestroy } from "svelte";

  export let src = "";
  export let alt = "image";

  let element;
  let isLoaded = false;
  let isLoading = false;
  let isVisible = false;
  let img;
  let currentSource;

  $: {
    if (isVisible && currentSource != src) {
      isLoaded = false;
      isLoading = false;
      currentSource = src;
      img.src = src;
    }
  }

  onMount(async () => {
    img = new Image();
    let observer = new IntersectionObserver(([entry]) => {
      isVisible = entry.isIntersecting;

      if (isVisible && !isLoading) {
        isLoading = true;
        currentSource = src;
        img.src = src;
      }
    });

    img.onload = () => (isLoaded = true);
    observer.observe(element);
  });
</script>

{#if !isLoaded}
  <slot />
{/if}

<img
  bind:this={element}
  class:loaded={isLoaded}
  src={isLoaded ? src : "/img/none.png"}
  {alt}
/>

<style>
  img {
    color: transparent;
    opacity: 0;
    transition: opacity 0.8s;
  }

  .loaded {
    opacity: 1;
    transition-delay: 0;
  }
</style>
