<div />

<style>
  div::before,
  div::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    display: block;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    border-width: 5px;
  }

  div::before {
    border-color: #2a49f1 transparent;
    border-style: solid;
    animation: 0.8675309s rotation linear infinite;
  }

  div::after {
    border-color: #2a49f1 transparent;
    border-style: dashed;
    animation: 1s rotation linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: translate(-50%, -50%) rotate(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
</style>
