<script>
  export let segment;
</script>

<nav>
  <ul>
    <li class="heading">
      <a aria-current={segment === undefined} href="/">Mary Jane Begin</a>
    </li>

    <div class="links">
      <li class="links__li">
        <a
          aria-current={segment === undefined}
          class:selected={segment === undefined}
          href="/"
        >
          Portfolio
        </a>
      </li>
      <li class="links__li">
        <a
          aria-current={segment === "books"}
          class:selected={segment === "books"}
          href="books"
        >
          Books
        </a>
      </li>
      <li class="links__li">
        <a
          aria-current={segment === "teaching"}
          class:selected={segment === "teaching"}
          href="teaching"
        >
          Teaching
        </a>
      </li>
      <li class="links__li">
        <a
          aria-current={segment === "about"}
          class:selected={segment === "about"}
          href="about"
        >
          About
        </a>
      </li>
      <li class="links__li">
        <a
          aria-current={segment === "contact"}
          class:selected={segment === "contact"}
          href="contact"
        >
          Contact
        </a>
      </li>
    </div>
  </ul>
</nav>

<style>
  nav {
    padding: 0 1.5rem;
    min-height: 0px;
    position: relative;
    overflow: hidden;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style-type: none;
    margin: 0 auto;
    padding: calc(2rem + 3vw) 0 calc(1rem + 0.5vw) 0;
    max-width: 1200px;
  }

  a {
    color: #000;
  }

  .heading {
    font-size: calc(1.75rem + 0.625vw);
    line-height: 1;
    font-family: var(--heading-font-family);
    margin-right: 3rem;
    flex: 1 0 300px;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    font-size: calc(1rem + 0.125vw);
    font-weight: 300;
    font-family: var(--title-font-family);
    text-transform: uppercase;
    margin: 0.5rem -1rem;
  }

  .links__li {
    margin: 0.5rem 1rem 0 1rem;
  }

  .selected {
    box-shadow: 0 1px 0 0;
    color: #2a49f1;
  }
</style>
