<script>
  import Thumbnail from "./Thumbnail.svelte";
  export let thumbnails = [];
</script>

<ul>
  {#each thumbnails as thumbnail}
    <li>
      <Thumbnail {thumbnail} />
    </li>
  {/each}
</ul>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc(6rem + min(10vw, 0.1 * 1200px)), 1fr)
    );
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
</style>
