<script>
  import LazyImage from "./LazyImage.svelte";

  export let thumbnail;

  $: target = thumbnail.target;
</script>

<a href={thumbnail.link} {target}>
  <div aria-hidden="true">
    <LazyImage src={thumbnail.img} />
  </div>
  <span>{thumbnail.title}</span>
</a>

<style>
  a {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  div {
    width: 100%;
    padding-top: 100%;
    /* background-color: #ddd; */
    position: relative;
  }

  div > :global(img) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  span {
    font-size: 0.875rem;
    margin-top: 0.75rem;
    color: #000000;
    font-family: var(--title-font-family);
  }
</style>
