:root {
	--heading-font-family: "Cinzel", "Lato", serif;
	--title-font-family: "Century Gothic", "Questrial", "Lato", sans-serif;
}


body {
	margin: 0;
	font-family: 'Lato', Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 16px;
}

button {
	border: none;
}

h1 {
	font-size: calc(1.75rem + min(0.15vh, 0.25rem));
	font-weight: 500;
	font-family: var(--title-font-family);
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

dd {
	margin: 0;
}

p {
	color: #000;
	line-height: 1.5rem;
	margin: 1.25rem 0;
}

a {
	text-decoration: none;
	color: #2a49f1;
}

*, *:before, *:after {
	box-sizing: border-box;
}
