<script context="module">
  export async function preload({ params, path }) {
    const { className } = params;
    const project = await this.fetch(
      `/json/class/${className}.json`
    ).then((r) => r.json());

    return { project, className };
  }
</script>

<script>
  import LazyImage from "../../components/LazyImage.svelte";
  import LoadingSpinner from "../../components/LoadingSpinner.svelte";

  export let project;
  export let className;
</script>

<svelte:head>
  <title>{project.title}</title>
</svelte:head>

<h1>{project.title}</h1>

{#if project.desc}
  <p>
    {@html project.desc}
  </p>
{/if}

<ul class="images">
  {#each project.images as media}
    <li>
      {#if media.type === "img"}
        <LazyImage src={`/img/large/class/${className}/${media.src}`}>
          <LoadingSpinner />
        </LazyImage>
      {:else if media.type === "yt"}
        <div class="video">
          <iframe
            title="Youtube video"
            src={`https://www.youtube.com/embed/${media.src}`}
            frameborder="0"
            allow="encrypted-media; picture-in-picture"
            allowfullscreen
          />
        </div>
      {/if}
    </li>
  {/each}
</ul>

<style>
  p {
    margin-bottom: calc(2rem + 3vw);
    white-space: pre-wrap;
  }

  ul {
    display: grid;
    grid-row-gap: 1rem;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  li > :global(img) {
    height: 50vh;
    width: auto;
    max-width: 100%;
    max-height: calc(90vh);
    background-color: #ddd;
  }

  li > :global(.loaded) {
    height: auto;
  }

  .video {
    width: 100%;
    max-height: 50vh;
    padding-bottom: 56.25%;
    position: relative;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ddd;
  }
</style>
