<script context="module">
	export async function preload({ params }) {
		const { bookId } = params;

		const response = await this.fetch(`/json/book/${bookId}.json`);
		const book = await response.json();

		return { bookId, book };
	}
</script>

<script>
	import BookMetadata from "../../components/BookMetadata.svelte";
	import LazyImage from "../../components/LazyImage.svelte";
	import LoadingSpinner from "../../components/LoadingSpinner.svelte";

	export let book;
	export let bookId;
</script>

<h1>
	{book.title}
	<time dateTime={book.releaseDate} class="release-date">
		({book.releaseDate})
	</time>
</h1>

<BookMetadata {book} />

<p class="desc">{@html book.desc}</p>

<a class="buy" rel="external" href={book.buy} target="_blank">Buy on Amazon</a>

<ul class="spreads">
	{#each book.spreads as spread}
		<li>
			<LazyImage
				src={`/img/large/book/${bookId}/${spread.url}`}
				alt={spread.alt}
			>
				<LoadingSpinner />
			</LazyImage>
		</li>
	{/each}
</ul>

<style>
	.release-date {
		display: inline-block;
		font-size: 0.75em;
	}

	.buy {
		transition: background-color 300ms ease, color 300ms ease;
		display: inline-flex;
		padding: 0.5rem 1rem;
		border: 1px solid #2a49f1;
		border-radius: 4px;
	}

	.buy:hover,
	.buy:focus {
		background: #2a49f1;
		color: white;
	}

	.desc {
		white-space: pre-wrap;
	}

	ul {
		display: grid;
		gap: calc(clamp(1rem, 2vw, 2rem));
		margin-top: calc(clamp(2rem, 2rem + 2vw, 4rem));
	}

	li {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	li > :global(img) {
		height: 50vh;
		width: auto;
		max-width: 100%;
		max-height: calc(90vh);
		background-color: #ddd;
	}

	li > :global(.loaded) {
		height: auto;
	}
</style>
